<header id="HEADER_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<div id="DIV_4">
				 <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="A_5"><img src="https://driverpracticaltest.direct.gov.uk/resources/2.39.0.6-SNAPSHOT/img/branding/gov.uk_logotype_crown.png" alt="" id="IMG_6" /> GOV.UK</a>
			</div>
		</div>
		<div id="DIV_7">
			<div id="DIV_8">
				<nav id="NAV_9">
					<p id="P_10">
						Book your driving test
					</p>
					<p id="P_11">
						Book test
					</p>
				</nav>
			</div>
		</div>
	</div>
</header>