<footer id="FOOTER_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<div id="DIV_4">
				<ul id="UL_5">
					<li id="LI_6">
						<a href="https://www.gov.uk/contact-driving-standards-agency-dsa" id="A_7">Help</a>
					</li>
					<li id="LI_8">
						<a href="https://www.gov.uk/help/cookies" id="A_9">Cookies</a>
					</li>
					<li id="LI_10">
						<strong id="STRONG_11">English</strong>
					</li>
					<li id="LI_12">
						<a href="/application?execution=e2s1&amp;locale=cy_GB" id="A_13">Cymraeg</a>
					</li>
				</ul>
			</div>
			<div id="DIV_14">
				 <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm" id="A_15">© Crown Copyright</a>
			</div>
		</div>
	</div>
</footer>