<app-header></app-header>
<div id="main" role="main">


  <div id="progress-bar-wrapper">
    <div id="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="9" aria-valuetext="Step 0: Type of test" aria-describedby="status">
      <!-- <h1 class="visuallyhidden">Your progression through this transaction</h1> -->
      
      <strong class="mobile">Step <span id="progress-button" class="button" role="button">1 of 9</span></strong>
      
      <ol id="process-steps" class="mobilehidden">
        <li  role="status" aria-controls="progress-bar">
        Type of test</li>
        <li>
        Licence details</li>
        <li>
        Test date</li>
        <li>
        Test centre</li>
        <li>
        Test time</li>
        <li>
        Your details</li>
        <li>
        Card details</li>
        <li id="status">
        Confirm &amp; pay</li>
        <li class="end-point">
        Done!</li>
      </ol>
    </div>
  </div>        <header>
              <h1>Choose type of test</h1>
          </header>
  
          <section>
  
      
  
          </section>
      </div>
      <app-footer></app-footer>